/* Main.html */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Cambia el cursor */
body {
    
    position: absolute;
	background: #203c6d;
    height:98%;
}

#cursor{
    cursor : url("img/nube1.png"), 
    auto;
}

/* Texto de elección */
h1{
    font: sans-serif;
    position: relative;
    bottom: 50%;
    margin-top:-3%;
    top: -25%;

    font-size: 20px;
    display: flex;
    justify-content: center;

    /* Cambios de color hechos por Mari ;) (Quitar esto si no mola el color jeje)*/
    color:#ff1d16;
    opacity: 0.8;
}

/* Texto de la pagina */
svg {
	font-family: 'Russo One', sans-serif;
	position: sticky; 
	width: 90%; 
    height: 90%;
    position: relative;
    float: center;
    left: 5%;
}

svg text {
    position:center;
	animation: stroke 4s infinite alternate;
	stroke-width: 2;
	stroke: #224573;
	font-size: 140px;
}

#fotoportada{
    background-image: url("img/vaca_T3.png");
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 150px; 
    margin-top: -6%;
    /* margin-left: 45.8%; */
    margin-left:44%;
    opacity:0.85;

}

/* Color de las letras */
@keyframes stroke {
	0%   {
		fill : rgba(72,138,20,0); stroke: #D93B3B;
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: #D93B3B; }
	80%  {fill: rgba(72,138,20,0); stroke: #D93B3B; stroke-width: 3; }
	100% {
		fill:#D93B3B; stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

/* Botones de idiomas */
.lang li{
    list-style:none;
    float:right; 
    position: relative;
    z-index: 100;
    top: -100%;

    /* Arriba - Dcha - Abajo - Izq */
    margin: -10% 47% 10% -47%; 

}

/* Boton de ingles*/
.lang .Eng{
    cursor : url("img/nube1.png"), 
    auto;

    background-image: url("img/Ingles.png");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    padding:10px 12px;
    display: inline-block;
    color: rgba(0, 0, 0, 0);

}

.Eng:before {
	content: "";
	position: absolute;

    margin: -1% 50% 5% 9.5%; 
	/* ORIGINAL:
    width: 40px;
    height: 21px; */
    width: 38px;
    height: 20px;

	background: transparent;
    transition: background .2s linear;
}
.Eng:hover:before {
    background: rgba(0, 0, 0, .3);
 } 

.lang .Esp{
    cursor : url("img/nube1.png"), 
    auto;

    background-image: url("img/Espanol.png");
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    padding:10px 12px;
    display: inline-block;
    color: rgba(0, 0, 0, 0);
}

.Esp:before {
	content: "";
	position: absolute;
    
	margin: -2% 50% -5% 10.5%; 
	/* ORIGINAL: 
    width: 40px;
    height: 22px; */
    width: 38px;
    height: 20px;

	background: transparent;
    transition: background .2s linear;
}
.Esp:hover:before {
    background: rgba(0, 0, 0, .2);
 } 

 #copy {
    text-align: center;
}